<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
</head>
<body>
    <h1 style="color: red ; text-align : center;">Daily Posts</h1> 
    <a href="http://localhost:8080/posts/new" style="color: black; background-color: aliceblue; font-size:30px;">crete new post</a>
   <% for(post of posts){%>
          
            <div style="background-color: bisque; width: 150px; display: flex; margin-top: 3rem;">
                <h3 style="color: red;">@_<%=post.username %></h3>
            </div>
            <div style="background-color: rgb(237, 232, 232); height: 200px; width: 500px; border: 5px; border-color: palevioletred; display:  flex; ">
           <div style="margin: 2rem; margin-top: -1.3rem;">
            <h4><%=post.content %></h4>
           </div>
            
         </div>
         <a href="http://localhost:8080/posts/<%= post.id %>" style="color: black; background-color: aliceblue; font-size:30px;">more</a>
         <a href="http://localhost:8080/posts/<%= post.id %>/edit" style="color: black; background-color: aliceblue; font-size:30px;">edit</a>
         <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button style="background-color: blue; color: white;">delete</button>
         </form>
        
    <%}%>
    <br>
    <br>
   
</body>
</html>